@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    @apply antialiased;
  }

  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }

  .editorial-shadow {
    box-shadow: 0 20px 40px -20px rgba(26, 28, 31, 0.04);
  }

  .text-glow {
    text-shadow: 0 0 20px rgba(242, 140, 56, 0.2);
  }
}
